<h2>Partial Page!</h2>
<fieldset><legend>Lorem Ipsum Text!</legend>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
</fieldset>
<fieldset><legend>Form Setup:</legend>
    <p ng-bind="error" class="error"></p>
    <!-- Form -->
    <form ng-submit="create()">
        <label for="username">
            <!-- Username Field -->
            <input type="text" name="username" id="username" ng-model="person.username">
        </label>
        <!-- Button -->
        <input type="submit" value="Create">
    </form>
</fieldset>
<fieldset><legend>Data:</legend>
    <!-- Raw Data -->
    <pre ng-bind="user"></pre>
</fieldset>
<!-- Show All Users -->
<button ng-click="show()">Show All Users</button>
<ul ng-repeat="user in allUsers">
    <li><span ng-bind="user.username"></span> <a href="#!/edit/{{user._id}}">Edit</a> | <button ng-click="delete(user)">Delete</button></li>
</ul>
